sample-app/src/main/mule/papi/papi-2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:healthcheck="http://www.mulesoft.org/schema/mule/healthcheck"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/healthcheck http://www.mulesoft.org/schema/mule/healthcheck/current/mule-healthcheck.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

	<flow name="papi-2-healthcheck-flow" doc:id="84d39598-afa3-44ce-ab81-813513eff47b" >
		<http:listener doc:name="/papi-2/healthcheck" doc:id="1e22e3d2-35f0-4701-aac0-63957f67d579" config-ref="healthcheck-app-listener" path="/papi-2/healthcheck" />
		<scatter-gather doc:name="healthcheck-dependencies" doc:id="3997d643-e90c-4a1e-a509-82b21e1e74ba" >
			<route >
				<healthcheck:db doc:name="Db" doc:id="79a3d965-acd1-4e32-a821-94e09a9ade6c" serviceName="db-1" configRef="Database_Config" inputSqlQuery="SELECT 1;"/>
			</route>
			<route >
				<healthcheck:jms doc:name="Jms" doc:id="aadd76e8-6dc8-4eda-bd0f-3832befcf086" serviceName="jms-1" configRef="JMS_Config" queueDestination="test" />
			</route>
			<route >
				<healthcheck:amqp doc:name="Amqp" doc:id="5227fdf6-1607-42f5-ade4-e2a09d4d3fbb" serviceName="test-amqp" configRef="AMQP_Config" exchangeDestination="test" queueDestination="test"/>
			</route>
		</scatter-gather>
		<healthcheck:create-healthcheck-object doc:name="papi-2" doc:id="08355086-7b37-4d46-a2fe-1bfa1fca4ca7" config-ref="papi2-healthcheck-connector-config" services="#[payload pluck $.payload]" />
		<ee:transform doc:name="prepare Response" doc:id="7ba06a8b-0ec9-42d5-83ba-9c20683c12f8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from modules::HealthcheckConnectorModule
---
{
	data:formattedHealthcheck(payload,{compact:true})
}
//formattedhealthcheck(payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<flow name="papi-2-test-jms-healthcheck" doc:id="895812a7-c1fd-4da5-bd70-4c4e5a4830ae" >
		<http:listener doc:name="/papi-2/test" doc:id="98ac72e8-f512-45bf-b275-e4c3a3aded6b" config-ref="healthcheck-app-listener" path="/papi-2/test" />
		<logger level="INFO" doc:name="START" doc:id="f010fe7b-7803-4345-b010-fa790ed6b4a0" message="START - FLOW TEST JMS healthcheck"/>
		<healthcheck:jms doc:name="Jms" doc:id="f4fe9d1e-b136-4afe-8dfd-ee4a672a9ca9" serviceName="jms-1" configRef="JMS_Config" queueDestination="test"/>
		<logger level="INFO" doc:name="HC JMS-FINISH" doc:id="221a7607-1989-4a46-ae2e-d3d2700501f4" message="JMS HC completed" />
		<ee:transform doc:name="prepare Response" doc:id="bda73a0d-f705-4d78-bfb9-2383010df65e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from modules::HealthcheckConnectorModule
---
formattedhealthcheck(payload,{compact:true})
//formattedhealthcheck(payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END" doc:id="f2da09e0-a747-4fe0-9fa0-de265dbac2f8" message="END - FLOW TEST JMS healthcheck" />
	</flow>
	<flow name="papi-2-test-jms-impl" doc:id="af389794-6132-4430-b6c3-fc1685695fb3" >
		<http:listener doc:name="/papi-2/jms-impl" doc:id="259b775d-4e82-4974-88da-65b2ab1932fc" config-ref="healthcheck-app-listener" path="/papi-2/jms-impl" />
		<logger level="INFO" doc:name="START" doc:id="408b574b-621c-4abb-b0e8-e97b6040189d" message="START - FLOW TEST JMS IMPL" />
		<jms:publish doc:name="test-queue" doc:id="5649e6ec-2c95-44e9-a310-465826c2e25a" config-ref="JMS_Config" destination="test-queue" persistentDelivery="false">
		</jms:publish>
		<logger level="INFO" doc:name="JMS-publish" doc:id="8ad52169-9e9c-436b-a1f0-89c5d50b7dcf" message="JMS Publish completed" />
		<ee:transform doc:name="prepare Response" doc:id="331d8081-d828-4a4e-b0d5-1bba1606c086" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from modules::HealthcheckConnectorModule
---
formattedHealthcheck(payload,{compact:true})
//formattedhealthcheck(payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END" doc:id="f0a04e8b-5988-4d70-9f3b-6c0fd985300b" message="END - FLOW TEST JMS healthcheck" />
	</flow>
	<flow name="papi-2-test-db-impl" doc:id="42343bd2-9524-4000-bb5d-c30521bd9941" >
		<http:listener doc:name="/papi-2/db-impl" doc:id="beac743b-f86e-402d-bd4d-9b7c4d58bf25" config-ref="healthcheck-app-listener" path="/papi-2/db-impl" />
		<logger level="INFO" doc:name="START" doc:id="0ee955bc-493d-4f25-b42c-a6a123472332" message="START - FLOW TEST DB IMPL" />
		<db:select doc:name="SELECT" doc:id="6af9d0bc-a177-4e12-ac43-a6fd1b76508c" config-ref="Database_Config">
			<reconnect count="1" />
			<db:sql ><![CDATA[SELECT * FROM TABLE:]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="DB-select" doc:id="58c4125a-8eba-4d82-9cd2-0a058fa2c56d" message="DB Select completed" />
		<ee:transform doc:name="prepare Response" doc:id="ffa7d053-aba9-4a7f-bf64-b80aaf018d24" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from modules::HealthcheckConnectorModule
---
formattedhealthcheck(payload,{compact:true})
//formattedhealthcheck(payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END" doc:id="377e4a11-5fee-4b77-b681-580f97e55b6f" message="START - END FLOW TEST DB IMPL" />
	</flow>
</mule>
